<body>

<div class="tit"><svg viewBox="0 0 1320 300">

  <!-- Symbol -->
  <symbol id="s-text">
    <text text-anchor="middle"
          x="50%" y="50%" dy=".35em">
      Servirhlaguna
    </text>
  </symbol>  

  <!-- Duplicate symbols -->
  <use xlink:href="#s-text" class="text1"
       ></use>
  <use xlink:href="#s-text" class="text1"
       ></use>
  <use xlink:href="#s-text" class="text1"
       ></use>
  <use xlink:href="#s-text" class="text1"
       ></use>
  <use xlink:href="#s-text" class="text1"
       ></use>

</svg></div>

  <br>
<div class="barra">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="#"><img src="https://img.icons8.com/color/48/000000/home.png"/> <br> Inicio</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-center">
            <li><a href="#"><img src="https://img.icons8.com/fluent/48/000000/person-male.png"/><br>Contacto</a></li>
           
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><img src="https://img.icons8.com/cute-clipart/64/000000/search-property.png"/><br>Buscar</a></li>
        </ul>
    </div>
</nav>
</div>

  <br>
  <br><br>
  <br>
  <div class="container">
    <div class="card">
      <div class="trabajo">
        <h1>Programador Senior</h1>
        <h3>$18,000 - $24,000 Mensual</h3>
        <h4>SOLICITAMOS PROGRAMADOR SR.REQUISITOS Sexo: Indistinto
          Nivel de estudios: Ing. / Lic. Sistemas computacionales o afín
          Experiencia: 3 años comprobables en desarrollo
          </h4>
        
          <button type="button" class="btn ">Ver mas</button>
        <img src="https://img.icons8.com/fluent/96/000000/permanent-job.png" alt="adidas">
    </div>
    </div> 
  </div>
  
</body>




<router-outlet></router-outlet>



